@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --dark: #222831;
  --dark-light: #3b5360;
}

* {
  margin: auto;
  padding: auto;
}

body {
  background-color: #eeeeee;
  font-family: Lato, Arial, Helvetica, sans-serif;
  display: flex;
}

.header-container {
  color: white;
  background-color: var(--dark);
}

h1,
h5 {
  text-align: center;
  margin: 10px 0;
}

h1 {
  padding: 20px 0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s;
}

h1:hover {
  transition: all 0.2s;
  color: white;
}

.toolbar {
  display: flexbox;
  margin-bottom: 15px;
}

button {
  font-family: Lato, Arial, Helvetica, sans-serif;
  background-color: var(--dark);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
}

button:hover {
  transition: all 0.5s;
  background-color: var(--dark-light);
  color: #ffe0d8;
}

button {
  background-color: var(--dark);
}

.red {
  color: #f05454;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
}
